body{
    font-family: $parrafos-font-family;
}

trix-editor{
    min-height: 400px;
    height: auto!important;
}

.bg-primary .navbar-brand{
    color: white;
    font-family: $font-family-sans-serif;
    font-size: 2rem;

    &:hover{
        color: white;
    }
}

.icono {
    width: 36px;
}